<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="css/style.css" th:href="@{/styles/orc-reader-style.css}"/>
    <title>Orc Reader</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="gradient">
      <div class="container">
        <a href="orc-reader.html" class="brand-logo center" th:href="@{/orc-reader}">Orc Reader</a>
      </div>
    </nav>

    <!-- Section: input -->
    <section class="section" id="section-input">
      <div class="container">
        <div class="row">
          <div class="col s12 m6 offset-m3">
            <div class="card-panel blue-grey darken-2">
              <form action="#" method="post" th:action="@{/orc-reader}">
                <div class="input-field">
                  <div class="file-field input-field">
                    <div class="btn gradient waves-effect waves-dark">
                      <span><b>File</b></span>
                      <input type="file"/>
                    </div>
                    <div class="file-path-wrapper">
                      <input
                        class="file-path validate white-text"
                        id="custom-input"
                        type="text"
                        th:name="filePath"
                      />
                    </div>
                  </div>
                </div>
                <br />
                <button
                  type="submit"
                  class="btn btn-large btn-block gradient waves-effect waves-dark"
                >
                  <b>Show Output</b>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
