<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="css/style.css" th:href="@{/styles/orc-reader-style.css}"/>
    <title>Orc Reader - Output</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="gradient">
      <div class="container">
        <a href="orc-reader.html" class="brand-logo center" th:href="@{/orc-reader}">Orc Reader</a>
      </div>
    </nav>

    <!-- Section: output -->
    <section class="section" id="section-output">
      <div class="container">
        <div class="card-panel blue-grey darken-2">
          <h4 class="white-text center">Output</h4>
          <br />
          <div class="card-panel gradient table-scroll">
            <table class="white-text centered highlight">
              <thead>
                <tr>
                  <span th:each="column: ${columns}">
                    <th th:text="${column}"></th>
                  </span>
                </tr>
              </thead>
              <tbody>
                <tr th:each="value: ${values}">
                  <span th:each="val: ${value}">
                    <td th:text="${val}"></td>
                  </span>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
