body {
  background-color: #263238;
}

#section-input {
  margin-top: 250px;
}

#section-output {
  margin-top: 150px;
}

.btn-block {
  display: block;
  width: 100%;
}

.gradient {
  background-image: linear-gradient(to right, #ee0979, #ff6a00);
}

#custom-input {
  border-bottom: 1px solid #ee0979 !important;
  box-shadow: 0 1px 0 0 #ff6a00 !important;
}

.table-scroll {
  overflow-x: auto !important;
}